.open{
    background-color: lightgray;

}
.addCard{
    font-size:10px !important;
}
.taskOpen{
    box-sizing: border-box;
    box-shadow: 0 2px 2px gray;
    background-color: white;

}